body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: red;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.card{
  box-shadow: 1px 1px 2px #000000;
  padding: 1rem;
}
.card .card-header{
  background-color: white;
  font-weight: 400;
}

.card .card-title{
  color: red;
}
.card .card-subtitle img{
  width: 25px;
  height: 25px;
  border-radius: 25px;
  box-shadow: 0px 0px 2px #000000;
}
.sidebar-sticky{
  position: sticky;
  top: 0;
}
.page-footer{
  background-color: #111010;
  color: #ebebebbe;
  font-size: small;
}
.page-footer a{
  color: #ebebebbe;
  text-decoration: none;
}
.page-footer a:hover{
  text-decoration: underline;
}
@media (max-width: 768px) { 
  .hine{
      display: none;
  }
  figure img{
    width: 100%;
    height: auto;
  }
} 
.post table .btn{
  display: block;margin-bottom: 5px; width: 100px; height: 35px;
}

.category{
  box-shadow: 0px 0px 2px #000000;
  border-radius: 0.5rem;
}
#pagination .page-item.active .page-link{
  color: white;
  background-color: red;
  border-color: red;
}
#pagination .page-item.disabled .page-link{
  color: rgba(238, 225, 225, 0.589);
  background-color: white;
  text-shadow: 0px 0px 0px black;
  border-color: rgb(179, 217, 235);
}
#pagination li{
  margin: 0px 5px;
}
#pagination li a{
  color: red;
  border-color: red;
  transition: all 1s;
}
#pagination li a:hover{
  text-decoration: none;
  background-color: red;
  color: white;
}
